body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 450px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
}

#counter {
    margin-top: 10px;
    color: rgba(2, 2, 250, 0.836);
    font-weight: bold;
}

#warning {
    color: red;
    font-weight: bold;
}